@import './profile.scss';

.nav-container {
    text-align: center !important;
    margin: 0 auto;

    svg {
        color: white !important;
    }
}

.tasks-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;

    .task-card {
        margin: 10px;

        // flex: 1 auto;
        .sub-task-description {
            max-width: 150px;
            margin-right: 70px !important;
        }
    }
}

.add-new-task-input-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    .add-task-input {
        margin-bottom: 10px;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        button {
            font-size: 12px;
            padding: 5px 10px;
        }
    }
}


.add-task-list-item {
    background-color: transparent !important;

    &:hover {
        background-color: transparent !important;
    }

    .MuiTouchRipple-root {
        display: none !important;
    }
}

.progress {
    position: absolute;
}

.main-loader-page {
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fafafa;
}

.map-icon-button {
    padding: 0 0 7px 5px !important;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}